{% include base_path %}

<div class="publication-item">
  <p class="publication-authors" data-name-list>
    {% if post.inventors %}
      {{ post.inventors | join: ", " }}
    {% elsif post.authors %}
      {{ post.authors | join: ", " }}
    {% elsif post.author %}
      {{ post.author }}
    {% endif %}
  </p>
  <p class="publication-title">
    {% if post.year %}
      <span class="publication-year">({{ post.year }})</span>
    {% endif %}
    {{ post.title }}
  </p>
  <p class="publication-venue">
    {% if post.venue %}
      {{ post.venue }}{% if post.registration_number != '' %}, {{ post.number_label | default: "登记号" }}：{{ post.registration_number }}{% endif %}
    {% endif %}
    {% if post.rights_holder %}, 权利人：{{ post.rights_holder }}{% endif %}
    {% if post.application_date %}, 申请日：{{ post.application_date }}{% endif %}
    {% if post.grant_date %}, 授权日：{{ post.grant_date }}{% endif %}
    {% if post.registration_date %}, {{ post.date_label | default: "登记日期" }}：{{ post.registration_date }}{% endif %}
    {% if post.status and post.status != '' %}
      [{{ post.status }}]
    {% endif %}
  </p>
</div>
